<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <a href="/" class="logo-design">
          bitstackcode
        </a>
        <p>Notes of a backend engineer<p>
      </div>
      <nav>
        
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/about/">about</a>
          </li>
          <li>
            <a href="/notes/">notes</a>
          </li>
          <li>
            <a href="/contact/">reach me</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>