<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{about_title}}</title>
  <link rel="icon" href="/assets/images/about.png" type="image/png">
  <link rel="stylesheet" href="/style.css">
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
  <section class="hero container">
    {% include 'me_header.njk' %}
    <main>
      {{content | safe}}
    </main>
    <footer>
      {% include 'footer.njk' %}
    </footer>
  </section>

  <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", (user) => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
</body>
</html>