<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{about_title}}</title>
  <link rel="stylesheet" href="/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
  <section class="container">
    {% include 'me_header.njk' %}
    <main class="page-wrapper">
      {{content | safe}}
    </main>
    <footer class="page-wrapper">
      {% include 'footer.njk' %}
    </footer>
  </section>

  <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", (user) => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
   <script>
      $(function(){
        var current = location.pathname;
        $('.nav-list li a').each(function(){
            var $this = $(this);
            if($this.attr('href').indexOf(current) !== -1){
                $this.addClass('active');
            }
        })
    })
    </script>
</body>
</html>