<header class="page-header">
  <div class="page-header__content">
    <div>
      <p class="logo-design">
        Chiamaka Mbah
      </p>
      <p>This is me<p>
    </div>
    <nav>
      
      <ul role="list" class="nav-list flex-group">
        <li>
            <a class="active" href="/notes/">notes</a>
          </li>
          <li>
            <a href="/me/">about</a>
          </li>
      </ul>
    </nav>
    </div>
</header>