<header class="page-header">
  <div class="page-header__content">
    <div>
      <a href="/" class="logo-design">
        Chiamaka Mbah
      </a>
      <p>This is me<p>
    </div>
    <nav>
      
      <ul role="list" class="nav-list flex-group">
        <li>
          <a href="/about/">about</a>
        </li>
        <li>
          <a href="/notes/">notes</a>
        </li>
      
      </ul>
    </nav>
    </div>
</header>