---
title: bitstackc<>de | About
layout: 'base.njk'
---
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        Hi! My name is Chiamaka Mbah
      </div>
    </div>
</section>