---
title: bitstackc<>de | About
layout: 'base.njk'
---
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        Hi! I'm Chiamaka. Badass backend engineer. More updates coming soon!!!
      </div>
    </div>
</section>